@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeue.ttc") format("truetype");
}
body {
  height: 100%;
}
.right_panel {
  box-sizing: border-box;

  position: absolute;
  width: 822px;
  min-height: 940px;
  height: auto;
  top: 54px;
  left: 549px;
  bottom: 54px;

  background: #ffffff;
  border: 0.8px solid #000000;
}
.into_right_panel {
  margin-bottom: 128px;
}
.heder {
  margin-top: 45px;
  margin-left: 45px;
  display: flex;
}
.back_vector {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mini_logo_onrightpnl {
  position: absolute;
  width: 42px;
  height: 42px;
  left: 78px;
  bottom: 44px;
}
.personal_information {
  display: flex;
  height: 330px;
  width: 100%;
}

.prophile_picture img {
  width: 246px;
  height: 246px;
  border-radius: 50%;

  margin-top: 48px;
  margin-right: 75px;
}
.full_name {
  display: flex;
}

.surname {
  margin-left: 20px;
}
.full_name {
  margin-top: 68px;
  margin-left: 80px;
}
.full_name h1 {
  height: 42px;
  width: 123px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 42px;

  color: #f93b1d;
}

.gmail {
  display: flex;
  margin-left: 80px;
  margin-top: 17px;
  width: 179px;
  height: 21px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #1a1a1a;
}
.gmail img {
  margin-right: 12px;
}
.mobile_number {
  display: flex;
  margin-left: 80px;
  margin-top: 10px;
  width: 100%;
  height: 21px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.mobile_number img {
  margin-right: 12px;
}
.ex_hed {
  display: flex;
  margin-left: 80px;
  margin-top: 24px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  width: 118px;
  height: 22px;

  color: #f93b1d;
}

.about_me {
  display: flex;
  margin-left: 80px;
  margin-top: 34px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  width: 118px;
  height: 22px;

  color: #f93b1d;
}
.text_about_me {
  margin-left: 80px;
  margin-top: 15px;
  width: 432px;
  height: 72px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  text-transform: lowercase;

  color: #000000;
}

/* experience info */

.experience_and_employer {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  color: #1a1a1a;

  height: 20px;
  display: flex;

  margin-top: 15px;
  margin-left: 80px;
}
.knowlidge {
  margin-right: 7px;
}
.period_of_experience {
  font-family: "Helvetica Neue";
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #919191;

  width: 183px;
  height: 19px;

  margin-top: 7px;
  margin-left: 80px;
}
.experience_txt {
  width: 662px;
  margin-left: 80px;
  margin-top: 16px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  text-transform: capitalize;

  color: #000000;
}

.cros_line {
  width: 662px;
  height: 1px;
  border-bottom: 1px solid #c8c8c8;
  margin-left: 80px;
  margin-top: 10px;
}
.cros_line2 {
  width: 662px;
  height: 1px;
  border-bottom: 1px solid #c8c8c8;
  margin-left: 80px;
  margin-top: 32px;
}
.popup {
  position: fixed;
  width: 427px;
  height: 167px;
  left: 1423px;
  top: 53px;

  padding: 40px 32px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 43px;
  color: #1a1a1a;

  background: #ffffff;
  border: 1px solid #e4e4e4;
  box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.popup img {
  position: absolute;
  top: 18px;
  right: 12px;
  cursor: pointer;
}
.none {
  display: none;
}
