@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeue.ttc") format("truetype");
}
.body {
  font-family: "Helvetica Neue";
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 1920px;
  background: #f9f9f9;
  display: flex;
}

/* background design */

.left_panel {
  width: 1098px;
  height: 1080px;
}
.heder {
  margin-top: 45px;
  margin-left: 45px;
  display: flex;
}
.hed {
  height: 41px;
  width: 798px;
  display: flex;
  justify-content: space-between;
  margin-left: 61px;
  border-bottom: solid black;
}
.back_vector {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hed h2 {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.hed p {
  width: 29px;
  height: 24px;
  margin-left: 592px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  text-align: right;

  color: #1a1a1a;
}

.right_panel {
  position: absolute;
  width: 822px;
  min-height: 1080px;
  background: #ffffff;
  right: 0px;
  top: 0px;
}
.into_right_panel {
  margin-bottom: 128px;
}
.mini_logo_onrightpnl {
  position: absolute;
  width: 42px;
  height: 42px;
  left: 78px;
  bottom: 44px;
}

.section {
  width: 1098px;
  height: 927px;
}

.bord_section {
  width: 798px;
  height: 594px;
  margin-left: 150px;
  border-bottom: 1px solid #c1c1c1;
}
.bord_bottom {
  width: 798px;
  height: 273px;
  margin-left: 149px;
}
.nav_bottom {
  margin-top: 131px;
  display: flex;
  justify-content: space-between;
}
.new_section_btn {
  width: 289px;
  height: 48px;
  background: #62a1eb;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 14px 21px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  color: #ffffff;
  cursor: pointer;
  margin-top: 45px;
}
.new_section_btn:hover {
  background: #62a2ebc8;
}
.next_button {
  width: 151px;
  height: 48px;
  background: #6b40e3;
  border-radius: 4px;

  display: flex;
  justify-content: space-around;
  padding: 14px 35px;

  color: #ffffff;
  letter-spacing: 0.08em;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}
.next_button:hover {
  background: #6b40e3e6;
}
.back_button1 {
  width: 113px;
  height: 48px;

  background: #6b40e3;
  border-radius: 4px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 18px 60px;
  gap: 20px;
  color: white;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  letter-spacing: 0.08em;
}
.back_button1:hover {
  background: #6b40e3e6;
}

/* right panel (personal info) */

/* personal info */
.personal_information {
  display: flex;
  height: 330px;
  /* display: none; */
}

.prophile_picture img {
  width: 246px;
  height: 246px;
  border-radius: 50%;

  margin-top: 48px;
  margin-right: 75px;
}
.full_name {
  display: flex;
}

.surname {
  margin-left: 20px;
}
.full_name {
  margin-top: 68px;
  margin-left: 80px;
}
.full_name h1 {
  height: 42px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 42px;

  color: #f93b1d;
}

.gmail {
  display: flex;
  margin-left: 80px;
  margin-top: 17px;
  width: 179px;
  height: 21px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #1a1a1a;
}
.gmail img {
  margin-right: 12px;
}
.mobile_number {
  display: flex;
  margin-left: 80px;
  margin-top: 10px;
  width: 100%;
  height: 21px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.mobile_number img {
  margin-right: 12px;
}
.ex_hed {
  display: flex;
  margin-left: 80px;
  margin-top: 24px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  width: 118px;
  height: 22px;

  color: #f93b1d;
}
.about_me {
  display: flex;
  margin-left: 80px;
  margin-top: 34px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;

  width: 118px;
  height: 22px;

  color: #f93b1d;
}
.text_about_me {
  margin-left: 80px;
  margin-top: 15px;
  width: 432px;
  height: 72px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  text-transform: lowercase;

  color: #000000;
}

/* experience info */

.experience_and_employer {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  color: #1a1a1a;

  height: 20px;
  display: flex;

  margin-top: 15px;
  margin-left: 80px;
}
.knowlidge {
  margin-right: 7px;
}
.period_of_experience {
  font-family: "Helvetica Neue";
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #919191;

  width: 183px;
  height: 19px;

  margin-top: 7px;
  margin-left: 80px;
}
.experience_txt {
  width: 662px;
  margin-left: 80px;
  margin-top: 16px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  text-transform: capitalize;

  color: #000000;
}

/* left panel  */

.position {
  margin-top: 69px;
  height: 125px;
  width: 100%;
}
.employer {
  margin-top: 12px;
  height: 125px;
  width: 100%;
}
.name_font {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}
.under_text_font {
  color: #2e2e2e;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
}

.start_date_input {
  box-sizing: border-box;

  width: 371px;
  height: 48px;

  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;

  padding: 0 16px;
  margin-top: 8px;

  display: flex;
  align-items: center;

  color: rgba(0, 0, 0, 0.6);
}
.info_input_boxes {
  margin-top: 12px;
  height: 320px;
  width: 100%;
}
.dates {
  display: flex;
  justify-content: space-between;
}

.input_about_me {
  margin-top: 12px;
  width: 100%;
  height: 148px;
  margin-top: 33px;
}
.about_input_dm {
  box-sizing: border-box;
  padding-top: 13px;
  padding-left: 16px;
  padding-right: 200px;
  margin-top: 8px;

  width: 798px;
  height: 103px;

  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  text-transform: lowercase;
  text-align: left;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.position_dm {
  box-sizing: border-box;

  width: 798px;
  height: 48px;

  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;

  padding: 16px 13px;
  margin: 8px 0;
}
.cros_line {
  width: 662px;
  height: 1px;
  border-bottom: 1px solid #c8c8c8;
  margin-left: 80px;
  margin-top: 10px;
}
.cros_line2 {
  width: 662px;
  height: 1px;
  border-bottom: 1px solid #c8c8c8;
  margin-left: 80px;
  margin-top: 32px;
}
