.body {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 1920px;
  /* height: 1080px; */
  background: #f9f9f9;
  display: flex;
}

.left_panel {
  width: 1098px;
  height: 1080px;
}
.heder {
  margin-top: 45px;
  margin-left: 45px;
  display: flex;
}
.hed {
  height: 41px;
  width: 798px;
  display: flex;
  margin-left: 61px;
  border-bottom: solid black;
}
.back_vector {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hed h2 {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.hed p {
  width: 29px;
  height: 24px;
  margin-left: 592px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  text-align: right;

  color: #1a1a1a;
}

.right_panel {
  position: absolute;
  width: 822px;
  height: 1080px;
  background: #ffffff;
  right: 0px;
  top: 0px;
}

.mini_logo_onrightpnl {
  position: absolute;
  width: 42px;
  height: 42px;
  left: 78px;
  top: 994px;
}

.section {
  width: 1098px;
  height: 992px;
  /* background: #ca3c3c; */
}

.bord_section {
  width: 846px;
  height: 658px;
  background-color: bisque;
  margin-left: 126px;
}
.bord_bottom {
  width: 100%;
  height: 265px;
  /* background-color: aquamarine; */
  padding-left: 797px;
  padding-top: 160px;
}

.next_button {
  width: 151px;
  height: 48px;
  background: #6b40e3;
  border-radius: 4px;

  display: flex;
  padding: 14px 35px;

  color: #ffffff;
  letter-spacing: 0.08em;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

/* final right panel */

.personal_information {
  display: flex;
  height: 330px;
  width: 100%;
  /* background-color: aquamarine; */
}

.prophile_picture img {
  width: 246px;
  height: 246px;
  border-radius: 50%;

  margin-top: 48px;
  margin-right: 75px;
}
.full_name {
  display: flex;
}

.surname {
  margin-left: 20px;
}
.full_name {
  margin-top: 68px;
  margin-left: 80px;
}
.full_name h1 {
  width: 123px;
  height: 42px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 42px;

  color: #f93b1d;
}

.gmail {
  display: flex;
  margin-left: 80px;
  margin-top: 17px;
  width: 179px;
  height: 21px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #1a1a1a;
}
.gmail img {
  margin-right: 12px;
}
.mobile_number {
  display: flex;
  margin-left: 80px;
  margin-top: 10px;
  width: 151px;
  height: 21px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.mobile_number img {
  margin-right: 12px;
}

.about_me {
  display: flex;
  margin-left: 80px;
  margin-top: 34px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  width: 118px;
  height: 22px;

  color: #f93b1d;
}
.text_about_me {
  margin-left: 80px;
  margin-top: 15px;
  width: 432px;
  height: 72px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  text-transform: lowercase;

  color: #000000;
}
