.body {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 1920px;
  background: #f9f9f9;
  display: flex;
}

.left_panel {
  width: 1098px;
  height: 1080px;
}
.heder {
  margin-top: 45px;
  margin-left: 45px;
  display: flex;
}
.hed {
  height: 41px;
  width: 798px;
  display: flex;
  margin-left: 61px;
  border-bottom: solid black;
}
.back_vector {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hed h2 {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.hed p {
  width: 29px;
  height: 24px;
  margin-left: 592px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  text-align: right;

  color: #1a1a1a;
}

.right_panel {
  position: absolute;
  width: 822px;
  height: 1080px;
  background: #ffffff;
  right: 0px;
  top: 0px;
}

.mini_logo_onrightpnl {
  position: absolute;
  width: 42px;
  height: 42px;
  left: 78px;
  top: 994px;
}

.section {
  width: 1098px;
  height: 992px;
}

.bord_section {
  width: 798px;
  height: 658px;
  margin-left: 140px;
}
.bord_bottom {
  width: 100%;
  height: 265px;
  padding-left: 797px;
  padding-top: 160px;
}

.next_button {
  width: 151px;
  height: 48px;
  background: #6b40e3;
  border-radius: 4px;

  display: flex;
  padding: 14px 35px;

  color: #ffffff;
  letter-spacing: 0.08em;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}
.next_button:hover {
  background: #6b40e3e6;
}

/* right panel (personal info) */

.personal_information {
  display: flex;
  height: 330px;
  width: 100%;
  /* display: none; */
}

.prophile_picture img {
  width: 246px;
  height: 246px;
  border-radius: 50%;

  margin-top: 48px;
  margin-right: 75px;
}
.full_name {
  display: flex;
}

.surname {
  margin-left: 20px;
}
.full_name {
  margin-top: 68px;
  margin-left: 80px;
}
.full_name h1 {
  width: 123px;
  height: 42px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 42px;

  color: #f93b1d;
}

.gmail {
  display: flex;
  margin-left: 80px;
  margin-top: 17px;
  width: 179px;
  height: 21px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #1a1a1a;
}
.gmail img {
  margin-right: 12px;
}
.mobile_number {
  display: flex;
  margin-left: 80px;
  margin-top: 10px;
  width: 151px;
  height: 21px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.mobile_number img {
  margin-right: 12px;
}

.about_me {
  display: flex;
  margin-left: 80px;
  margin-top: 34px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  width: 118px;
  height: 22px;

  color: #f93b1d;
}
.text_about_me {
  margin-left: 80px;
  margin-top: 15px;
  width: 432px;
  height: 72px;

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  text-transform: lowercase;

  color: #000000;
}

/* left panel  */

.name_surname {
  margin-top: 69px;
  display: flex;
  justify-content: space-between;
  height: 122px;
  width: 100%;
}

.name_box {
  height: 100%;
  width: 419px;
}
.surname_box {
  height: 100%;
  width: 419px;
  padding-left: 29px;
}
.name_font {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}
.under_text_font {
  color: #2e2e2e;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
}
.nm_input {
  box-sizing: border-box;

  width: 371px;
  height: 48px;

  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  padding: 13px 16px;

  margin: 8px 0;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.foto_uploader {
  height: 135px;
  width: 100%;
  display: flex;
  padding-top: 54px;
  padding-bottom: 54px;
}
.text_before_upload {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-right: 19px;

  color: #1a1a1a;
}

.upload_button {
  background-color: rgba(14, 128, 191, 1);
  width: 107px;
  height: 27px;
  border-radius: 4px;
  border: none;
  color: #ffffff;
  cursor: pointer;
}
.upload_button:hover {
  background-color: rgba(14, 129, 191, 0.781);
}
.info_input_boxes {
  height: 427px;
  width: 100%;
}

.input_about_me {
  width: 100%;
  height: 148px;
}
.about_input_dm {
  box-sizing: border-box;
  padding-bottom: 69px;
  padding-left: 16px;
  margin-top: 8px;

  width: 798px;
  height: 103px;

  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
}
.input_email {
  width: 100%;
  height: 122px;
  margin-top: 17px;
}
.input_mobile_number {
  width: 100%;
  height: 122px;
  margin-top: 13px;
}
.emeil_input_dm {
  box-sizing: border-box;

  width: 798px;
  height: 48px;

  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;

  padding: 16px 13px;
  margin: 8px 0;
}
.mobile_number_dm {
  box-sizing: border-box;

  width: 798px;
  height: 48px;

  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  padding: 16px 13px;
  margin: 8px 0;
}
