@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeue.ttc") format("truetype");
}
body {
  font-family: "Helvetica Neue";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 1920px;
  height: 1080px;
  background-image: url(/images/background_1pg.jpg);
}

.hed {
  border-bottom: solid black;
  margin: 0 70px;
}

.logo_img {
  width: 236px;
  height: 38px;
  padding-top: 25px;
  padding-bottom: 26px;
}

.ring {
  position: absolute;
  width: 299px;
  height: 299px;
  margin-top: 384px;
  margin-left: 1076px;
}

.button {
  text-decoration: none;
  box-sizing: border-box;
  position: relative;
  width: 464px;
  height: 60px;

  background: #1a1a1a;
  border-radius: 8px;

  margin-left: 728px;
  margin-top: 424px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 18px 126px;
  gap: 20px;

  /* font */

  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
  cursor: pointer;
}

.button:hover {
  background-color: #1a1a1aa2;
}
